.wide{
    height: 10rem;
    width: 25rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    background-size: cover;
    padding: 1rem;
}
.wide-title{
    font-size: large;
}
.wide-sub{
    font-size: small;
}
.wide-button{
    padding: .8rem 1rem;
    font-size: x-small;
    background: none;
    border: 1px solid black;
    margin-top: 3rem;
    cursor: pointer;
    transition: all .5s;
}
.wide-button:hover{
    background-color: black;
    color: white;
}