.reportcard {
    border: 1px solid black;
    border-radius: 8px;
    width: 30rem;
    height: 10rem;
    padding: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.report-title {
    font-weight: 600;
}

.report-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.permission-user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.permission-user img {
    height: 2rem;
}